@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:root {
  --background: oklch(0.92 0 0);
  --foreground: oklch(0.05 0 250.5167);
  --card: oklch(0.96 0 0);
  --card-foreground: oklch(0.2507 0.0505 250.5167);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2507 0.0505 250.5167);
  --primary: oklch(0.4199 0.1101 250);
  --primary-foreground: oklch(0.95 0 0);
  --secondary: oklch(0.5 0.09631 185.685);
  --secondary-foreground: oklch(0.95 0 0);
  --muted: oklch(0.84 0.0001 0);
  --muted-foreground: oklch(0.6429 0.0465 249.7815);
  --accent: oklch(0.5816 0.2 250);
  --accent-foreground: oklch(0.95 0 0);
  --destructive: oklch(0.6861 0.2061 14.9941);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8707 0.022 250.2249);
  --input: oklch(0.98 0 0);
  --ring: oklch(0.4199 0.1101 249.9643);
  --chart-1: oklch(0.4199 0.1101 249.9643);
  --chart-2: oklch(0.4999 0.1195 249.9564);
  --chart-3: oklch(0.5506 0.1284 241.0398);
  --chart-4: oklch(0.4808 0.1 255.0587);
  --chart-5: oklch(0.3863 0.1122 250.9515);
  --sidebar: oklch(0.95 0 0);
  --sidebar-foreground: oklch(0.2507 0.0505 250.5167);
  --sidebar-primary: oklch(0.4199 0.1101 249.9643);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9216 0.0371 240.683);
  --sidebar-accent-foreground: oklch(0.2507 0.0505 250.5167);
  --sidebar-border: oklch(0.9107 0.022 250.2249);
  --sidebar-ring: oklch(0.4199 0.1101 249.9643);

  --font-sans: Archivo, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;

  --radius: 0.5rem;

  --shadow-x: 1px;
  --shadow-y: 1px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: #2d2d53;
  --shadow-2xs: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.06);
  --shadow-xs: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.06);
  --shadow-sm: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.12),
    1px 1px 2px -1px hsl(240 29.6875% 25.098% / 0.12);
  --shadow: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.12),
    1px 1px 2px -1px hsl(240 29.6875% 25.098% / 0.12);
  --shadow-md: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.12),
    1px 2px 4px -1px hsl(240 29.6875% 25.098% / 0.12);
  --shadow-lg: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.12),
    1px 4px 6px -1px hsl(240 29.6875% 25.098% / 0.12);
  --shadow-xl: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.12),
    1px 8px 10px -1px hsl(240 29.6875% 25.098% / 0.12);
  --shadow-2xl: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.3);

  --tracking-normal: 0em;

  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.15 0 0);
  --foreground: oklch(0.9189 0.0254 249.9602);
  --card: oklch(0.20 0 0);
  --card-foreground: oklch(0.9189 0.0254 249.9602);
  --popover: oklch(0.25 0 0);
  --popover-foreground: oklch(0.9189 0.0254 249.9602);
  --primary: oklch(0.35 0.1493 249.6419);
  --primary-foreground: oklch(0.85014 0.00268 230.187);
  --secondary: oklch(0.35 0.16 185);
  --secondary-foreground: oklch(0.9189 0.0254 249.9602);
  --muted: oklch(0.25 0 250.0911);
  --muted-foreground: oklch(0.45 0.006 250.5561);
  --accent: oklch(0.5 0.18599 249.024);
  --accent-foreground: oklch(0.85014 0.00268 230.187);
  --destructive: oklch(0.6861 0.2061 14.9941);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3 0 2);
  --input: oklch(0.276 0 0);
  --ring: oklch(0.6008 0.1493 249.6419);
  --chart-1: oklch(0.6008 0.1493 249.6419);
  --chart-2: oklch(0.5497 0.1194 244.9354);
  --chart-3: oklch(0.6497 0.1302 240.1899);
  --chart-4: oklch(0.5796 0.101 255.4078);
  --chart-5: oklch(0.62 0.1407 248.0771);
  --sidebar: oklch(0.2297 0.0381 249.8024);
  --sidebar-foreground: oklch(0.9189 0.0254 249.9602);
  --sidebar-primary: oklch(0.6008 0.1493 249.6419);
  --sidebar-primary-foreground: oklch(0.1745 0.0225 251.9264);
  --sidebar-accent: oklch(0.3362 0.0823 244.5585);
  --sidebar-accent-foreground: oklch(0.9189 0.0254 249.9602);
  --sidebar-border: oklch(0.326 0.0601 250.9194);
  --sidebar-ring: oklch(0.6008 0.1493 249.6419);
  --font-sans: Archivo, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 1px;
  --shadow-y: 1px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: #2d2d53;
  --shadow-2xs: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.06);
  --shadow-xs: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.06);
  --shadow-sm: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.12),
    1px 1px 2px -1px hsl(240 29.6875% 25.098% / 0.12);
  --shadow: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.12),
    1px 1px 2px -1px hsl(240 29.6875% 25.098% / 0.12);
  --shadow-md: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.12),
    1px 2px 4px -1px hsl(240 29.6875% 25.098% / 0.12);
  --shadow-lg: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.12),
    1px 4px 6px -1px hsl(240 29.6875% 25.098% / 0.12);
  --shadow-xl: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.12),
    1px 8px 10px -1px hsl(240 29.6875% 25.098% / 0.12);
  --shadow-2xl: 1px 1px 10px 0px hsl(240 29.6875% 25.098% / 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --animate-slide-up: slideUp 200ms ease-in forwards;
  --animate-fade-in: fadeIn 150ms ease-in forwards;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }
}
